{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block container %}
<a href="{% url 'articles:index' %}">[목록]</a>
<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<hr>
<p>{{ article.content }}</p>
<a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
{% comment %} //articles/3 으로 들어온 상황 -> 이 뒤에 delete까지 action을 보내줘야함 {% endcomment %}
<form action="{% url 'articles:delete' article.pk %}" method="post">
  {% csrf_token %}
  <button type="submit">[삭제하기]</button>
</form>
{% endblock container %}
